.home-overview {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  padding: 0 4rem;

  .home-header {
    width: 100%;
    height: 5rem;
  }

  .home-main {
    width: 100%;
    flex: auto;
  }

  .home-footer {
    width: 100%;
    height: 4rem;
  }
}

.home-header {
  display: flex;

  .icon-content {
    width: 15rem;
    height: 100%;

    .icon-svg {
      /* You can scale this to whatever size you need */
      width: 40px;
      height: 30px;

      /* Ensure it scales responsively if needed */
      max-width: 100%;
      height: auto;
    }
  }

  .action-content {
    flex: auto;
  }
}
